<body layout="column">
    <content ng-controller="TestCtrl" layout="column" flex>
        <div layout="row" flex>
              <div class="split left">
               
            </div>

              <div class="split right">
               
              </div>
    <div class="cocktail-party" style="margin-left: 29rem; margin-top: 10rem;"><h1 class="party">Drinks<br/>Menu</h1>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/list-drinks">
          <div class="green-drink">
            <div class="juice" ></div>
          </div>
        </a>
    </div>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/cocktails-list">
            <div class="martini">
                <div class="glass"></div>
                <div class="olives"></div>
            </div>
        </a>
    </div>
    <div class="button-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/whiskey-list">
            <div class="whiskey"></div>
        </a>
    </div>
  </div>
</div>
</content>
</body>


  