<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto ">
        <button class="button-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/list-drinks">Show Drinks List</a>
        </button>
        <button class="button-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-drink">Add Drink</a>
        </button>
      </ul>
    </div>
  </nav>
   
  <router-outlet></router-outlet>